*{  /*относится ко всем тэгам*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    background-image: url(../img/fotka15.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);

}

main{
    width: 80%;
    background-color: rgb(32, 88, 241);
    padding: 100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 0px 100px #2600fff8;
    background: radial-gradient(circle, rgba(190,44,194,1) 0%, rgba(59,72,209,1) 100%);
    margin-top: 40px;
    margin-bottom: 40px;
}

h1{
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(47, 255, 193);
    text-shadow: 6px 5px 30px #2a2dc3;
    font-style: italic;
}

p{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 25px;
    text-shadow: 6px 5px 30px #020208;
}

a{
    text-decoration: none;
    color: rgb(32, 19, 221);
}

a:hover{
    color: rgb(236, 24, 24);
    border: 4px solid rgb(79, 16, 250);
}

.link{  
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 100px;
    margin-left: 0px;
    margin-top: 30px;
    text-shadow: 6px 5px 30px #e76f0d;
    border: 2px solid red;
    padding: 0px;
    width: auto;
   
}



.photot{
    border: solid red;
    width: 875px;
    height: 493px;
}

.photo{
    width: 500px;
    height: 300px;
    background-color: darkgoldenrod;
    margin: 10px;
    transition: all 0.5s ease;
    border: solid tomato;
    border-radius: 200px;
}

.photo:hover{
    transform: scale(1.3);
}

.photo1{
    background-image: url(..//img/fotka1.jpg);
    background-size: cover;
}

.photo1:hover{
    background-image: url(../img/fotka16.jpg);
}

.photo2{
    background-image: url(../img/fotka2.jpg);
    background-size: cover;
}

.photo2:hover{
    background-image: url(../img/fotka18.jpg);
}

.photo3{
    background-image: url(../img/fotka3.jpg);
    background-size: cover;
}

.photo3:hover{
    background-image:url(../img/fotka19.jpg);
}

.photo4{
    background-image: url(../img/fotka4.jpg);
    background-size: cover;
}

.photo4:hover{
    background-image: url(../img/fotka17.jpg);
}

.photo5{
    background-image: url(../img/fotka5.jpg);
    background-size: cover;
}

.photo5:hover{
    background-image: url(../img/fotka20.jpg);
}

.photo6{
    background-image: url(../img/fotka6.jpg);
    background-size: cover;
}

.photo6:hover{
    background-image: url(../img/fotka21.jpg);
}

.photo7{
    background-image: url(../img/fotka7.jpg);
    background-size: cover;
}

.photo7:hover{
    background-image: url(../img/fotka22.jpg);
}

.photo8{
    background-image: url(../img/fotka8.jpg);
    background-size: cover;
}

.photo8:hover{
    background-image: url(../img/fotka23.jpg);
}

.photo9{
    background-image: url(../img/fotka9.jpg);
    background-size: cover;
}

.photo9:hover{
    background-image: url(../img/fotka24.jpg);
}

.photo10{
    background-image: url(../img/fotka10.jpg);
    background-size: cover;
}

.photo10:hover{
    background-image: url(../img/fotka25.jpg);
}

.photo11{
    background-image: url(../img/fotka11.jpg);
    background-size: cover;
}

.photo11:hover{
    background-image: url(../img/fotka26.jpg);
}

.photo12{
    background-image: url(../img/fotka12.jpg);
    background-size: cover;
}

.photo12:hover{
    background-image: url(../img/fotka27.jpg);
}

iframe{
    border: 2px solid red;
}